@font-face {
    font-family: "iransans";
    src: url('./assets/fonts/FontsFree-Net-ir_sans.ttf')format("truetype");
}

@import"_default";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}


@import"_logo.css";

@import"_header.css";

@import"_title.css";

@import"_card.css";

@import"_footer.css";

@import"_mediaQery.css";